<!DOCTYPE html>
<title>{{ .SiteName }}</title>

{{ template "css" . }}
{{ template "header" . }}

<div class="container grid-lg refresh-me" id="index">
	{{ template "index-body" . }}
</div>

<script src="https://cdn.jsdelivr.net/gh/cferdinandi/reef@4/dist/reef.min.js"></script>
<script src="/static/index.js"></script>

{{ define "index-body" }}

{{ $distanceHost := .DistanceURL.Hostname }}
{{ with .Observer.State }}
<div class="columns">
	<div class="column col-8 col-xs-12">
		{{ with .Summary }}
		<div id="summary" class="card">
			<div class="card-header">
				<div class="card-title h5">Server</div>
			</div>
			<div class="card-body mini-table">
				<span>Address</span>
				<span id="address">{{$distanceHost}}:{{.Server.Port}}</span>

				<span>Gamemode</span>
				<span id="gamemode">{{ .Server.MasterServerGameModeOverride }}</span>

				<span>Current Map</span>
				<span id="current-map">
					<a href="#playlist-{{.Level.RelativeLevelPath}}">
						{{ .Level.Name }}
					</a>
				</span>
			</div>
		</div>

		<div id="players" class="card">
			<div class="card-header">
				<div class="card-title h5">Players</div>
				<span class="chip">{{ len .Players }} / {{ .Server.MaxPlayers }}</span>
			</div>
			<div class="card-body">
				{{ range (sortPlayers .Players) }}
				<div class="player tile tile-centered">
					<div class="player-info">
						<span>{{ .Name }}</span>
						{{      if .Car.IsFinished }}
						<span class="flag" title="Finished">🏁</span>
						{{ else if .Car.Spectator }}
						<span class="flag" title="Spectating">🔭</span>
						{{ else if not .Car.Alive }}
						<span class="flag" title="Alive">💀</span>
						{{ end }}
					</div>
					<div class="player-car">
						<span>{{ .Car.Name }}</span>
						{{ if (ge (len .Car.Colors) 3) }}
						<div class="car-colors">
							{{ range (slice .Car.Colors 0 3) }}
							<div style="background-color: {{rgbaHex .}}"></div>
							{{ end }}
						</div>
						{{ end }}
					</div>
				</div>
				{{ else }}
				{{ template "empty-card" "No Players" }}
				{{ end }}
			</div>
		</div>

		<div id="chat" class="card">
			<a href="/chat">
				<div class="popup-overlay">
					<i class="icon icon-4x icon-share"></i>
					<span>Open Popup</span>
				</div>
				<div class="under">
					<div class="card-header">
						<div class="card-title h5">Chat</div>
					</div>
					<div class="card-body">
						{{ range (latestMessages .ChatLog 6) }}
						<div class="tile message">
							<div class="tile-content">{{ markup .Chat }}</div>
						</div>
						{{ else }}
						{{ template "empty-card" "Empty" }}
						{{ end }}
					</div>
				</div>
			</a>
		</div>
		{{ end }}
	</div>

	<div class="column col-4 col-xs-12 side">
		<div id="playlist" class="card">
			<div class="card-header">
				<div class="card-title h5">Playlist</div>
			</div>
			<div class="card-body p-0">
				{{ $activeID := .PlaylistState.CurrentLevelIndex }}
				{{ range .PlaylistState.Playlist.Levels }}
				<div
					id="playlist-{{.RelativeLevelPath}}"
					class="playlist-entry tile tile-centered
						{{- if (eq $activeID .Index) }} active-playlist {{- end -}}"
				>
					<div class="tile-icon">
						{{ if .WorkshopFileID }}
						<img
							class="playlist-thumb" alt="Thumbnail" loading="lazy"
							src="/workshopimg/{{.WorkshopFileID}}?size=128"
						/>
						{{ else }}
						<img class="playlist-thumb" alt="Map" />
						{{ end }}
					</div>
					<div class="tile-content">
						<div class="tile-title">
							<a target="_blank" title="{{ .Name }}" href="{{ .WorkshopURL }}">
								{{ .Name }}
							</a>
						</div>
						<small class="title-subtitle">{{ .GameMode }}</small>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
</div>
{{ end }}

{{ end }}
