<!DOCTYPE html>
<title>Chat - {{ .SiteName }}</title>

{{ template "css" . }}

{{ define "chat-message" }}
<div class="tile chat-message" id="{{ .GUID }}">
	<small class="tile-subtitle timestamp">
		<time datetime="{{ .Time.UTC.Format "2006-01-02T15:04:05Z" }}"></time>
	</small>
	<div class="tile-content">{{ markup .Chat }}</div>
</div>
{{ end }}

{{ with .Observer.State }}
<div id="chat-box" class="container grid-md">
	<div class="chat-messages">
		{{ range (reverseMessages .Summary.ChatLog) }}
		{{ template "chat-message" . }}
		{{ end }}
	</div>
	{{ if $.IsLinked }}
	<div class="message-composer">
		<form id="chat-unlink" action="/chat/unlink" method="post">
			<button
				type="submit" class="btn btn-error tooltip-right"
				data-tooltip="Unlink" id="unlink-button"
			>
				<i class="icon icon-cross"></i>
			</button>
		</form>
		<form id="chat-send" action="/chat" method="post" autocomplete="off">
	
			<input type="text" name="m" placeholder="Type a message...">
			<button type="submit" class="btn btn-primary">
				<i aria-label="Send" class="icon icon-message"></i>
			</button>
		</form>
	{{ else }}
	<a id="chat-auth" href="/link">
		<i class="icon icon-link"></i> Link
	</a>
	{{ end }}
</div>
{{ end }}

<script src="https://cdn.jsdelivr.net/gh/cferdinandi/reef@4/dist/reef.min.js"></script>
<script src="/static/chat.js"></script>
